body {
  background-size: cover;
  background: url('assets/img/bg.jpg ') no-repeat fixed center center;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  padding: 32px 16px 16px 16px;
  width: 100%;
  min-height: 100vh;
}
body::before {
  content: '';
  display: block;
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #090804bf;
}

.wrapper {
  position: relative;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.wrapper .mdl-card{
  position: relative;
  z-index: 2;
  overflow: visible;
  margin:0 auto;
  width: 100%;
  max-width: 800px;
  min-width: 400px;
  border-radius: 0 0 8px 8px;
}


.wrapper .mdl-textfield {
  width: 100%;
  max-width: 358px;
  margin:0;
  padding: 16px 0;
}

.mdl-textfield input {
  box-shadow: none;
  line-height: 1;
  font-size: 14px;
  padding: 8px 0 2px;
}

.wrapper .mdl-textfield__label:after {
  bottom: 16px;
}

.form-content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  color: rgba(0,0,0,.54);
  font-size: 13px;
  line-height: 18px;
  /*overflow: hidden;*/
  padding: 16px 10px;
}

.form-header__title {
  text-align: center;
  margin: 0;
  padding: 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

.form-header__sub-title {
  display: block;
  width: 100%;
  text-align: center;
  margin: 16px 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
  color: #101217;
}

.form-part {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
   width: 358px;
   margin: 0px 16px;
}

.form-part__title {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 0 16px 0;
  padding: 0;
  font-size: 18px;
  line-height: 20px;
}

.form-part__title::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  border-bottom: 2px solid #30bcd4;
}

.form-content .mdl-radio {
  margin-bottom: 8px;
  font-size: 14px;
}
.form-part__radio {
  position: relative;
  padding: 0;
  margin: 0;
}

.form-part__radio__info {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 16px;
}

.form-part__radio__info .info-icon {
  background: url('./assets/svg/Info.svg') center center no-repeat;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
.form-part__radio__info .info-icon:hover+.info-popup {
  display: flex;
  align-items: center;
}
.form-part__radio__info .info-popup {
  display: none;
  position: absolute;
  z-index: 10;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 1px 6px 0 #000000;
  width: 400px;
  height: 140px;
  padding: 8px;
}

.info-popup img {
  max-width: 100%;
}

.form-content .mdl-textfield__label {
  top: 20px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 20px;
}

.form-main-field {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  color: #101217;
  transition: opacity .25s linear;
}

.form-main-field[data-form-field-state="hide"] {
  position: absolute;
  opacity: 0;
  transition: opacity 0s linear;
}

.form-main-field[data-form-field-state="show"] {
  opacity: 1;
}

.form-footer {
  display: -webkit-box;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 24px;
  margin: 8px auto;
}

.form-button {
  outline: none !important;
  border: none;
  background: rgb(0,188,212);
  padding: 12px;
  margin: 8px 16px;
  min-width: 150px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.form-select {
  width: 100%;
  max-width: 358px;
  padding: 0;
  margin: 18px 0 16px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0,.12);
  box-shadow: none;
  line-height: 1.5;
  font-size: 16px;
  color: #8f878f;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background: url(./assets/img/selectarrlight.png) no-repeat right 8px center;
  background-size: 10px;
}

.select-block {
  position: relative;
}

.select-block-label {
  display: block;
  position: absolute;
  top: 20px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 20px;
  pointer-events: none;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.select-block-label::after {
  content: '';
  background-color: rgb(0,188,212);
  position: absolute;
  bottom: 16px;
  left: 45%;
  height: 2px;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  visibility: hidden;
  width: 10px;
}

.form-select:focus~.select-block-label::after {
  left: 0;
  visibility: visible;
  width: 100%;
}

.form-select:focus~.select-block-label,
.form-select:valid~.select-block-label {
  color: rgb(0,188,212);
  font-size: 12px;
  top: 4px;
  visibility: visible;
}

.form-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  visibility: hidden;
  opacity: 0;
  animation-duration: .3s;
}

.form-popup .mdl-card {
  height: 100%;
} 

.form-popup.animated {
  opacity: 1;
  visibility: visible;
}

.form-popup__close {
  position: absolute;
  top: 18px;
  right: 18px;
  font-size: 24px;
  color: #ffffff;
  cursor: pointer;
}

.form-popup img {
  height: 484px;
  width: auto;
}

.form-main-error {
  display: none;
  position: absolute;
  top: 64px;
  color: #de3226;
  font-size: 18px;
  font-weight: bold;
}

.form-table {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 32px;
}
.form-table img {
  max-width: 100%;
}
.form-button--success {
  background: rgb(75, 175, 79);
}

.slider-label{
  color:#9E9E9E;
}

.tool-label{
  color:#00BCD4;
  font-size: 24px;
}

.installment-label{
  color:#FFFFFF;
  text-align:center;
}

.installment-value{
  color:#FFFFFF;
  text-align:center;
  font-size:28px;
}

.slider-value{
  font-weight:bold;
}

.installment-value{
  text-align:center;
  font-weight:bold;
}

.cyan {
    color:#FFFFFF;
    background: rgb(0, 188, 212);
}

.status-error {
  background: #de3226;
  color: #ffffff;
}

.status-success {
  background: #4BAF4FFF;
  color: #ffffff;
}

.result-block {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 780px;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
  -webkit-transition: top .5s ease-out .2s, opacity .2s;
  transition: top .5s ease-out .2s, opacity .2s;
}

.result-block.show {
  display: block;
  max-height: 100%;
  top: 100%;
  opacity: 1;
}
.result-block .mdl-card {
  min-height: 100px;
}
.result-block__total {
  padding: 24px;
}
